.App {
  text-align: left;
  background-color: #edede9;
}

html, body {
  margin: 0;
  background-color: #edede9;
}


.question {
  margin-top: 200px;
}

.byline {
  color: #878787;
  margin-top: 20px;
  font-size: 10pt;
}
